
.header {
  border-bottom: 1px solid #cdcdcd;

  .container {
    height: 97px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  &__search {
    display: flex;

    &-input {
      border: 1px solid #cdcdcd;
      padding: 14px;
      width: 294px;
    }

    &-button {
      padding: 14px 36px;
    }
  }
}
