

.footer {
  background: #ECEAEA;

  .container {
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__contacts {
    display: flex;

    &-contact {
      margin-left: 51px;

      i {
        margin-right: 10px;
      }
    }
  }
}
